<pre><a>English(UK)</a>  <a>हिन्दी</a>  <a>ਪੰਜਾਬੀ</a>  <a>اردو </a>  <a>ગુજરાતી</a>  <a>বাংলা </a>  <a>தமிழ் </a>  <a>తెలుగు </a>  <a>മലയാളം </a>  <a>ಕನ್ನಡ </a>  <a>Español</a></pre>
<hr>
<pre class="tab"><a>Sign Up</a>  <a>Log In</a>  <a>Messenger</a>  <a>Facebook Lite</a>  <a>Mobile</a>  <a>Find Friends</a>  <a>People</a>  <a>Pages</a>  <a>Video interests</a>  <a>Places</a>  <a>Games</a>  <a>Locations</a>  <a>Marketplace</a>  <a>Groups </a></pre>
<pre><a>Instagram</a>  <a>Local</a>  <a>About</a>  <a>Create ad</a>  <a>Create Page</a>  <a>Developers</a>  <a>Careers</a>  <a>Privacy</a>  <a>Cookies</a>  <a>AdChoices</a>  <a>Terms</a>  <a>Account security</a>  <a>Login help</a>  <a>Help</a>  <a>Settings</a></pre>
<br>
<footer>Facebook © 2018</footer>