<div>
    <span class="logo"><b>facebook</b></span>
    <span class="user-label">
      <label>Email or Phone</label>
    </span>
    <span class="input-user" size="24">
      <app-input-box>

      </app-input-box>
    </span>
  </div>
  <div>
  <span class="input-password" size="24">
    <app-input-box>

    </app-input-box>
  </span>
  <span class="pass-label">
    <label>Password</label>
  </span>
  <span class="forgot-password">
    <a href="">Forgotten account?</a>
  </span>
  <button class="log-in">Log In</button>
  </div>
